{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'biblio/css/biblio_main.css' %}">
    <title>biblio app</title>
</head>
<body>
{% block login %}
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Wyloguj się</a>
        {% else %}
            <a href="{% url 'account_login' %}">Zaloguj się</a>
            | <a href="{% url 'account_signup' %}">Załóż konto</a>
        {% endif %}
    </div>
    <div>
        {% load socialaccount %}
        {% providers_media_js %}
        <a href="{% provider_login_url 'facebook' method='js_sdk' %}"
        >Facebook login</a>
    </div>
    <hr>
{% endblock %}
<img src="{% static 'biblio/img/library.svg' %}" width="10%" height="10%"
     alt="biblio app">
<h1>biblio app</h1>
{% block content %}
    <div>
        <a href="/">Powrót do głównej strony</a>
    </div>
{% endblock %}
</body>
</html>